body {
    text-align: center;
}

.desc {
    font-size: 20px;
    margin-top: 16px;
}

.recommend {
    width: 300px;
    font-size: 15px;
}

.img-title {
    width: 50%;
    height: auto;
}

.btn-start {
    display: block;
    margin-top: 16px;
}